.main_route{
	margin: 0;
	display: flex;
}


/* LEFT PANEL */

.left_panel{
	width: 200px;
	/* width: 20%; */
	height: 100vh;
	background-color: darkslategray;
	color: white;
}
.left_panel_logo{
	height: 60px;
	text-align: center;
	margin: auto;
}
.left_panel_component{
	height: 40px;
	text-align: left;
	padding: 0 10px;
	cursor: pointer;
}